body{
    background-color: #9fe093;
}
table{
    border-spacing: 0;
}
th, td{
    height: 60px;
    width: 60px;
}
img {
    display: block;
    margin: auto;
}
#board{
    position: absolute;
    top: 90%;
    left: 20%;
}

.playerNickname{
    text-indent: 60px;
    font-size: 2rem;
    color: #888888;
    text-align: center;
    margin-bottom: 30px;
}
.playerTurn {
    color: #000000;
}

.light{
    background-color: antiquewhite;
}
.dark{
    background-color:saddlebrown;
}
.light.highlighted{
    background-color: chartreuse !important;
}
.dark.highlighted{
    background-color: darkgreen !important;
}
