<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link type="text/css" href="/css/main-style.css" rel="stylesheet">
    <link type="text/css" href="/css/game-style.css" rel="stylesheet">
    <!--  sockjs, stomp and jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
<div id="boardFrame">
    <div class="playerNickname" id="second_player"></div>

    <table>
        <tr>
            <th>8</th>
            <td class="light" id="square_18"><img></td>
            <td class="dark" id="square_28"><img></td>
            <td class="light" id="square_38"><img></td>
            <td class="dark" id="square_48"><img></td>
            <td class="light" id="square_58"><img></td>
            <td class="dark" id="square_68"><img></td>
            <td class="light" id="square_78"><img></td>
            <td class="dark" id="square_88"><img></td>
        </tr>
        <tr>
            <th>7</th>
            <td class="dark" id="square_17"><img></td>
            <td class="light" id="square_27"><img></td>
            <td class="dark" id="square_37"><img></td>
            <td class="light" id="square_47"><img></td>
            <td class="dark" id="square_57"><img></td>
            <td class="light" id="square_67"><img></td>
            <td class="dark" id="square_77"><img></td>
            <td class="light" id="square_87"><img></td>
        </tr>
        <tr>
            <th>6</th>
            <td class="light" id="square_16"><img></td>
            <td class="dark" id="square_26"><img></td>
            <td class="light" id="square_36"><img></td>
            <td class="dark" id="square_46"><img></td>
            <td class="light" id="square_56"><img></td>
            <td class="dark" id="square_66"><img></td>
            <td class="light" id="square_76"><img></td>
            <td class="dark" id="square_86"><img></td>
        </tr>
        <tr>
            <th>5</th>
            <td class="dark" id="square_15"><img></td>
            <td class="light" id="square_25"><img></td>
            <td class="dark" id="square_35"><img></td>
            <td class="light" id="square_45"><img></td>
            <td class="dark" id="square_55"><img></td>
            <td class="light" id="square_65"><img></td>
            <td class="dark" id="square_75"><img></td>
            <td class="light" id="square_85"><img></td>
        </tr>
        <tr>
            <th>4</th>
            <td class="light" id="square_14"><img></td>
            <td class="dark" id="square_24"><img></td>
            <td class="light" id="square_34"><img></td>
            <td class="dark" id="square_44"><img></td>
            <td class="light" id="square_54"><img></td>
            <td class="dark" id="square_64"><img></td>
            <td class="light" id="square_74"><img></td>
            <td class="dark" id="square_84"><img></td>
        </tr>
        <tr>
            <th>3</th>
            <td class="dark" id="square_13"><img></td>
            <td class="light" id="square_23"><img></td>
            <td class="dark" id="square_33"><img></td>
            <td class="light" id="square_43"><img></td>
            <td class="dark" id="square_53"><img></td>
            <td class="light" id="square_63"><img></td>
            <td class="dark" id="square_73"><img></td>
            <td class="light" id="square_83"><img></td>
        </tr>
        <tr>
            <th>2</th>
            <td class="light" id="square_12"><img></td>
            <td class="dark" id="square_22"><img></td>
            <td class="light" id="square_32"><img></td>
            <td class="dark" id="square_42"><img></td>
            <td class="light" id="square_52"><img></td>
            <td class="dark" id="square_62"><img></td>
            <td class="light" id="square_72"><img></td>
            <td class="dark" id="square_82"><img></td>
        </tr>
        <tr>
            <th>1</th>
            <td class="dark" id="square_11"><img></td>
            <td class="light" id="square_21"><img></td>
            <td class="dark" id="square_31"><img></td>
            <td class="light" id="square_41"><img></td>
            <td class="dark" id="square_51"><img></td>
            <td class="light" id="square_61"><img></td>
            <td class="dark" id="square_71"><img></td>
            <td class="light" id="square_81"><img></td>
        </tr>
        <tr>
            <th></th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
            <th>f</th>
            <th>g</th>
            <th>h</th>
        </tr>
    </table>
    <div class="playerNickname" id="first_player"></div>
</div>

<script src="js/script.js"></script>
<script src="js/socket_js.js"></script>
</body>

</html>