<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <link type="text/css" href="/css/main-style.css" rel="stylesheet">
    <link type="text/css" href="/css/game-style.css" rel="stylesheet">
    <!--  sockjs, stomp and jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
<div id="buttonsFrame">
    <p th:text="'Welcome, ' + ${user.nickname}"></p>
    <div class="box">
        <button name="createNewGameBtn" th:attr="onclick=|create_game('${user.nickname}')|">Create a new game</button>
    </div>
    <div class="box">
        <button th:attr="onclick=|connectToRandom('${user.nickname}')|">Connect to random game</button>
    </div>
    <div class="box">
        <input id="game_id">
        <button th:attr="onclick=|connectToSpecific('${user.nickname}')|">Connect to specific game</button>
    </div>
</div>
<div id="boardFrame">

</div>
<script src="js/script.js"></script>
<script src="js/socket_js.js"></script>
</body>

</html>