<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link type="text/css" href="/css/login-style.css" rel="stylesheet">
</head>

<body>
    <div id="background-login">
        <div>
            <h1>Registration Form</h1>
        </div>
        <div id="window-login">
            <form th:action="@{/registration-result}" th:object="${chessUserDto}" method="post">
<!--                <div class="login-table">-->
                    <div class="form-div">
                    <label for="nickname">Username:</label>
                    <input type="text" th:board="*{nickname}" id="nickname" name="nickname" required>
                    <span class="error-span" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
                    </div>

                    <div class="form-div">
                    <label for="password">Password:</label>
                    <input type="password" th:board="*{password}" id="password" name="password" required>
                    <span class="error-span" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div class="form-div">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" th:board="*{confirmPassword}" id="confirmPassword" name="confirmPassword" required>
                    <span class="error-span" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
                    </div>

                    <div class="form-div">
                    <label for="email">Email:</label>
                    <input type="email" th:board="*{email}" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    <span class="error-span" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="form-div">
                    <button type="submit" class="register-button">Register</button>
                    <a th:href="@{/}" class="register-button">Go Back to Welcome Page</a>
                    </div>
<!--                </div>-->
            </form>
        </div>
    </div>
<!--    <h1 class="neon-title"></h1>-->
<!--        <form th:action="@{/registration-result}" th:object="${chessUserDto}" method="post">-->
<!--            <div class="login-table">-->
<!--                <label for="nickname">Username:</label>-->
<!--                <input type="text" th:board="*{nickname}" id="nickname" name="nickname" required>-->
<!--                <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>-->
<!--    -->
<!--                <label for="password">Password:</label>-->
<!--                <input type="password" th:board="*{password}" id="password" name="password" required>-->
<!--                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
<!--    -->
<!--                <label for="confirmPassword">Confirm Password:</label>-->
<!--                <input type="password" th:board="*{confirmPassword}" id="confirmPassword" name="confirmPassword" required>-->
<!--                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>-->
<!--    -->
<!--                <label for="email">Email:</label>-->
<!--                <input type="email" th:board="*{email}" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>-->
<!--                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--    -->
<!--                <button type="submit" class="register-button">Register</button>-->
<!--                <a th:href="@{/}" class="register-button">Go Back to Welcome Page</a>-->
<!--            </div>-->
<!--        </form>-->
</div>
</body>

</html>
